<html>

<head>
	<meta charset="utf-8">
	<title>Compras</title>
	<link href="https://jcaholding152603.fluig.cloudtotvs.com.br/globalmailsender/resources/global.css" type="text/css"
		rel="stylesheet" />
	<style>
		.tab {
			display: inline-block;
			margin-left: 40px;
		}
	</style>
</head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
	<p>Prezado ${A2_NOME},</p>
	<p>Uma nova rodada de cotações foi iniciada! Acesse sua conta pelo link: [<a
			href="https://jcaholding152603.fluig.cloudtotvs.com.br/portal/1/portal_auth">link de acesso</a>] para
		conferir as oportunidades disponíveis.</p>
	<p>Detalhes da nova rodada:</p>
	<p><span class="tab"></span><strong>Código: </strong>${INSTANCEID}</p>
	<p><span class="tab"></span><strong>Rodada: </strong>${RODADA}</p>
	<p><span class="tab"></span><strong>Descrição: </strong>${ESPECIFICACAO_TECNICA}</p>
	<p><span class="tab"></span><strong>Prazo para envio das propostas: </strong>${PRAZO}</p>
	<p>Sua participação é fundamental para o sucesso dessa rodada. Aguardamos suas propostas!</p>
</body>

</html>