<html>

<head>
	<meta charset="utf-8">
	<title>Compras</title>
	<link href="https://jcaholding152603.fluig.cloudtotvs.com.br/globalmailsender/resources/global.css" type="text/css"
		rel="stylesheet" />
	<style>
		.tab {
			display: inline-block;
			margin-left: 40px;
		}
	</style>
</head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
	<p>Prezado ${A2_NOME},</p>
	<p>É com grande satisfação que informamos que seu usuário foi criado com sucesso em nosso sistema. Agora, você pode
		acessar todas as funcionalidades disponíveis para facilitar sua interação conosco.</p>
	<p>Para acessar sua conta, utilize o seguinte link: [<a
			href="https://jcaholding152603.fluig.cloudtotvs.com.br/portal/1/portal_auth">link de acesso</a>] Seus dados
		de login são:</p>
	<p><span class="tab"></span><strong>Usuário: </strong>${USERNAME}</p>
	<p><span class="tab"></span><strong>Senha: </strong>${PASSWORD}</p>
	<p>Recomendamos que você altere sua senha após o primeiro acesso. Caso tenha alguma dúvida ou precise de
		assistência, não hesite em entrar em contato.</p>
	<p>Agradecemos pela parceria!</p>
</body>

</html>